/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

main{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
html{
	height: 100%;
}

body {
	height: 100%;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	width: 1140px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px 0;
	margin-bottom: 150px;
}

header li{
	display: flex;
}

header li img{
	width: 19.35px;
	height: 19.35px;
	
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	gap: 5px;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	font-weight: 400;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 10px;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

header li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 100px;
	gap: 72px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 474px;
	height: 355px;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	width: 404px;
	margin-bottom: 1.3em;
}
#portfolio h2 {
	text-align: center;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-top: 5em;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}

form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#formulaire-connexion{
	margin: 0;
}

#name, #email, #pwd{
	height: 50px;
	width: 379px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
label {
	margin: 2em 0 0.5em 0;
}
 textarea {
	width: 379px;
	height: 174px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact p{
	font-size: 16px;
}

#contact input[type="submit"], .tableau-connexion input[type="submit"]{
	font-family: 'Syne';
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	height: 36px;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.tableau-connexion input[type="submit"]{
	margin: 3em 0;
	align-self: center;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/*Modifications pour avoir footer blanc*/
footer {
	margin-top: auto;
	background-color: white;
	padding: 10px 0;
	align-self: center;
}

footer, .mode-edition{
	width: 1440px;
} 

/*Personnalisation nav*/
#portfolio{
	width: 950px;
}

#portfolio nav{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: -1em;
	gap: 10px;
}

#portfolio nav div{
	border: solid 1px #1D6154;
	border-radius: 25px;
	padding: 9px;
	margin-bottom: 10px;
	min-width: 100px;
}

#portfolio nav div:active{
	background-color: #1D6154;
	color: white;
}

#portfolio nav p{
	font-size: 16px;
	font-weight: 700;
}

/*Modication texte sous images travaux*/
figcaption {
	font-family: 'Work Sans' ;
	font-size: 13px;
	font-weight: 400;
	margin-top: 0.5em;
}

header a {
	text-decoration: none;
	color: inherit;
}

.login{
	font-weight: 700;
}

/*Personnalisation Tableau de connexion*/
.tableau-connexion {
	display: flex;
	flex-direction: column;
}

.tableau-connexion > * {
	text-align: center;

}

.tableau-connexion h2{
	margin-bottom: 20px;
}

.tableau-connexion a{
	font-size: 14px;
	text-decoration: underline black;
	color: black;
}

/*Personnalisation de la page en mode edition*/
.mode-edition{
	background-color: black;
	display: flex;
    flex-direction: row;
    justify-content: center;
	padding: 20px 0;
	gap: 10px;
}
.mode-edition p{
	font-family: 'Work Sans' ;
	font-size: 16px;
	font-weight: 400;
}

.white{
	color: white;
}

.div-titre{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.div-titre a{
	font-size: 14px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	text-decoration: none;
	color: black;
}

/*Ajout de la modale*/
/*Gestion affichage de la modale*/
.fond-modale{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.modale{
	display: none;
	width: 630px;
	height: 688px;
	position: absolute;
	top: 85%;
	left: 30%;
	background-color: white;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.active{
	display: flex;
}

.icones{
	display: flex;
	flex-direction: row;
	width: 560px;
	justify-content: space-between;
	margin-top: -30px;
	margin-bottom: 1em;
}

h3{
	font-size: 26px;
}

.fa-icone{
	font-size: 24px;
}

/*Gestion affichage photo Modale*/
.photo-modale{
	height: 102px;
	width: 76px;
}

.galerie-photo{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 420px;
	column-gap: 10px;
	row-gap: 10px;
	margin-top: 3em;
	margin-bottom: 3em;
	padding-bottom: 30px;
	border-bottom: solid #B3B3B3 1px;
}

.ajout-photo{
	font-family: 'Syne';
	color: white;
	background-color: #1D6154;
	height: 36px;
	width: 237px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 60px ;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.fa-corbeille{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: white;
	width: 17px;
	height: 17px;
	font-size: 10px;
	border-radius: 2px;
	position: relative;
	top: -80%;
	left: 70%;
}

/*Modale Ajout Photo*/
.form-photo{
	width: 420px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-bottom: solid #B3B3B3 1px;
	margin-bottom: 35px;
	padding-bottom: 50px;
}

.zone-depot{
	width: 420px;
	height: 169px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #E8F1F6;
}

.zone-depot  span{
	border-radius: 25px;
	width: 173px;
	height: 36px;
	background-color: #CBD6DC;
	color: #306685;
	text-align: center;
	line-height: 36px;
	margin-bottom: 5px;
}

.zone-depot p{
	font-size: 10px;
}

#titre-travail{
	font-family: 'Work Sans' ;
	font-size: 14px;
	font-weight: 400;
	padding-left: 10px;
}

#categorie {
	font-family: 'Work Sans' ;
	font-size: 14px;
	font-weight: 400;
	padding-left: 10px;
}

#categorie option{
	font-family: 'Work Sans' ;
	font-size: 14px;
	font-weight: 400;
}

.fa-image{
	color: #B9C5CC;
	font-size: 76px;
	margin-bottom: 10px;
}

.form-photo input[type="text"]{
	width: 416px;
	height: 49px;
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.17);
}

.form-photo select{
	width: 100%;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.17);
}

.form-photo label{
	margin: 1.5em 0 0.5em 0;
	font-weight: 500;
}

.affichage-photo{
	max-width: 129px;
	max-height: 193px;
}


/*Bouton valider*/
.envoi{
	font-family: 'Syne';
	color: white;
	background-color: #1D6154;
	height: 36px;
	width: 237px;
	border-radius: 60px ;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.activation{
	background-color: #A7A7A7;
	cursor: not-allowed;
}

.cacher{
	display: none;
}

/*Afficher & Cacher la fleche retour*/
.fa-arrow-left {
	visibility: hidden;
}

.visible{
	visibility: visible;
}

